
.register{
    margin: 10px 0 0 0;
    padding: 0.5em 0em 0em 2.1em;
    font-size: 18px;
    border-radius: 5em;
    background: #b9c6ff;
    border: 1px solid #b9c6ff;
    transition: all .3s;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px 6px 12px #fff; */
    color: aliceblue;
}

 .register:hover{
    background: #011777;
    border: 1px solid #011777;
    color: white;
    /* box-shadow: -6px 6px 12px #c5c5c5, 6px 6px 12px #fff  */
 }

 .register a:hover{
    color: white;
 }
